@using tms_mka_v2.Models;
@model tms_mka_v2.Models.SalesOrderPickup

<div id="PartialSo" class="row">
    <input type='hidden' value='@Model.TanggalMuat.Value.ToString("MM/dd/yyyy")' id='tglmuatbuatuang'>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3"> Delivery No</label>
            <label class="control-label col-md-9">: @Model.SONumber</label>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3"> Tanggal Order</label>
            <label class="control-label col-md-9">: @Model.TanggalOrder.Value.ToShortDateString()  @Model.JamOrder.ToString()</label>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3"> Kode Customer</label>
            <label class="control-label col-md-9">: @Model.KodeCustomer</label>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3"> Nama Customer</label>
            <label class="control-label col-md-9">: @Model.NamaCustomer</label>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3"> Status Kredit</label>
            <label class="control-label col-md-9">: @Model.StatusKredit</label>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3"> Jenis Barang</label>
            <label class="control-label col-md-9">: @Model.StrProduct</label>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3"> Target Suhu</label>
            <label class="control-label col-md-9">: @Model.Suhu <sup>o</sup>C</label>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3"> Jenis Truk</label>
            <label class="control-label col-md-9">: @Model.StrJenisTruck</label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3"> Tanggal Pickup</label>
            <label class="control-label col-md-9">: @Model.TanggalPickup.Value.ToShortDateString()  @Model.JamPickup.ToString()</label>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3"> Rute</label>
            <label class="control-label col-md-9">: @Model.Rute</label>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3"> Penanganan Khusus</label>
            <label class="control-label col-md-9">: @Model.PenanganKhusus</label>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3"> Keterangan</label>
            <label class="control-label col-md-9">: @Model.Keterangan</label>
        </div>
        <br />
        @if (Model.Driver1Id.HasValue)
        {
            <div class="form-group">
                <label class="control-label col-md-3"> ID Driver</label>
                <label class="control-label col-md-9">: @Model.KodeDriver1</label>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3"> Nama</label>
                <label class="control-label col-md-9">: @Model.NamaDriver1</label>
            </div>
        }
    </div>
</div>