@using tms_mka_v2.Models;
@model tms_mka_v2.Models.SalesOrderPickup
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = ViewBag.PostData == null ? (string)ViewContext.RouteData.Values["action"] : ViewBag.PostData;
    string backLink = Url.Action("Index");
}

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-dark sbold uppercase">@ViewBag.Title</span>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="form-horizontal">
            @using (@Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal", @id = "formsubmit" }))
            {
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.SalesOrderId)
                @Html.HiddenFor(model => model.SalesOrderPickupId)
                @Html.HiddenFor(model => model.JenisTruckId)
                @Html.HiddenFor(model => model.Status)
                @Html.HiddenFor(model => model.CustomerId)
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption font-green-sharp">
                            <span class="caption-subject"> Basic Info</span>
                        </div>
                        <div class="tools">
                            <a href="" class="collapse"> </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3"> Delivery No</label>
                                    <label class="control-label col-md-9">: @Model.SONumber</label>
                                    @Html.HiddenFor(model => model.SONumber)
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3"> Tanggal Order</label>
                                    <label class="control-label col-md-9">: @Model.TanggalOrder.Value.ToShortDateString()  @Model.JamOrder.ToString()</label>
                                    @Html.HiddenFor(model => model.TanggalOrder)
                                    @Html.HiddenFor(model => model.JamOrder)
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3"> Kode Customer</label>
                                    <label class="control-label col-md-9">: @Model.KodeCustomer</label>
                                    @Html.HiddenFor(model => model.KodeCustomer)
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3"> Kode Nama</label>
                                    <label class="control-label col-md-9">: @Model.KodeNama</label>
                                    @Html.HiddenFor(model => model.KodeNama)
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3"> Nama Customer</label>
                                    <label class="control-label col-md-9">: @Model.NamaCustomer</label>
                                    @Html.HiddenFor(model => model.NamaCustomer)
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3"> Status Kredit</label>
                                    <label class="control-label col-md-9">: @Model.StatusKredit</label>
                                    @Html.HiddenFor(model => model.StatusKredit)
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3"> Jenis Barang</label>
                                    <label class="control-label col-md-9">: @Model.StrProduct</label>
                                    @Html.HiddenFor(model => model.StrProduct)
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3"> Target Suhu</label>
                                    <label class="control-label col-md-9">: @Model.Suhu <sup>o</sup>C</label>
                                    @Html.HiddenFor(model => model.Suhu)
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3"> Jenis Truk</label>
                                    <label class="control-label col-md-9">: @Model.StrJenisTruck</label>
                                    @Html.HiddenFor(model => model.StrJenisTruck)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3"> Tanggal Pickup</label>
                                    <label class="control-label col-md-9">: @Model.TanggalPickup.Value.ToShortDateString()  @Model.JamPickup.ToString()</label>
                                    @Html.HiddenFor(model => model.TanggalPickup)
                                    @Html.HiddenFor(model => model.JamPickup)
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3"> Rute</label>
                                    <label class="control-label col-md-9">: @Model.Rute</label>
                                    @Html.HiddenFor(model => model.Rute)
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3"> Penanganan Khusus</label>
                                    <label class="control-label col-md-9">: @Model.PenanganKhusus</label>
                                    @Html.HiddenFor(model => model.PenanganKhusus)
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3"> Keterangan</label>
                                    <label class="control-label col-md-9">: @Model.Keterangan</label>
                                    @Html.HiddenFor(model => model.Keterangan)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                if (ViewBag.kondisi == "inputdp")
                {
                    @*@Html.Partial("_InputDp", Model)*@
                    <br />
                    @Html.Partial("SalesOrderPickup/_InputDp", Model)
                    <div class="row">
                        <br />
                        <div class="form-group">
                            <div class="col-md-12" style="margin:0px 15px 0px 15px">
                                <a href="@Url.Action("Index","ListOrder")" class="btn btn-link" style="width:100px">Cancel</a>
                            </div>
                        </div>
                    </div>
                }

                @*if (ViewBag.kondisi == "revisiTanggal" || ViewBag.kondisi == "konfirmasi")
                {
                    <br />
                    @Html.Partial("SalesOrderPickup/_RevisiTanggal", Model)
                    <div class="row">
                        <br />
                        <div class="form-group">
                            <div class="col-md-12" style="margin:0px 15px 0px 15px">
                                <button type="submit" name="btnsave" value="draft planning" class="btn btn-success" style="width:100px">Save</button>
                                <a href="@Url.Action("Index","ListOrder")" class="btn btn-link" style="width:100px">Cancel</a>
                            </div>
                        </div>
                    </div>
                }*@

                if (ViewBag.kondisi == "revisiJenistruck")
                {
                    <br />
                    @Html.Partial("SalesOrderPickup/_RevisiJenisTruk", Model)
                    <div class="row">
                        <br />
                        <div class="form-group">
                            <div class="col-md-12" style="margin:0px 15px 0px 15px">
                                <button type="submit" name="btnsave" value="draft planning" class="btn btn-success" style="width:100px">Save</button>
                                <a href="@Url.Action("Index","ListOrder")" class="btn btn-link" style="width:100px">Cancel</a>
                            </div>
                        </div>
                    </div>
                }
                else if (ViewBag.kondisi == "revisiRute")
                {
                    <br />
                    @Html.Partial("SalesOrderPickup/_RevisiRute", Model)
                    <div class="row">
                        <br />
                        <div class="form-group">
                            <div class="col-md-12" style="margin:0px 15px 0px 15px">
                                <button type="submit" name="btnsave" class="btn btn-success" style="width:100px">Save</button>
                                <a href="@Url.Action("Index","ListOrder")" class="btn btn-link" style="width:100px">Cancel</a>
                            </div>
                        </div>
                    </div>
                }
                if (ViewBag.kondisi == "planning" || ViewBag.kondisi == "konfirmasi")
                {
                    @Html.Partial("SalesOrderPickup/_OperationalTruck", Model)
                    if (ViewBag.kondisi == "konfirmasi")
                    {
                        @Html.Partial("_KeteranganTambahanPickup", Model)
                    }
                    @Html.Partial("SalesOrderPickup/_Comment", Model)
                    <div class="row">
                        <br />
                        <div class="form-group">
                            <div class="col-md-12">
                                @if (ViewBag.kondisi == "planning")
                                {
                                    <button type="button" value="save planning" class="btn btn-success" onclick="notifSave($('#formsubmit'),$(this).val());">Submit</button>
                                    <button type="submit" name="btnsave" value="draft planning" class="btn btn-success">Save As Draft</button>
                                    <button type="button" value="draft" class="btn btn-success" onclick="notifSave($('#formsubmit'),$(this).val());">Return</button>
                                }
                                else if (ViewBag.kondisi == "konfirmasi")
                                {
                                    <button type="button" value="save konfirmasi" class="btn btn-success" onclick="notifSave($('#formsubmit'),$(this).val());">Submit</button>
                                    <button type="submit" name="btnsave" value="draft konfirmasi" class="btn btn-success">Save As Draft</button>
                                    <button type="button" value="draft planning" class="btn btn-success" onclick="notifSave($('#formsubmit'),$(this).val());">Return</button>
                                }
                                <a href="@backLink" class="btn btn-link">Cancel</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<div id="ModalHistoryJalan" class="modal fade bs-modal-full" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full">
        <div id="modalForm" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">List Sales Order</h4>
            </div>
            <div class="modal-body">
                <div id="GridHistoryJalanDriver"></div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var checkedIdLoad = {}, checkedIdUnoad = {};
        var GridCustLoad, GridCustUnLoad;
        var dsGridLoad = [], dsGridUnLoad = [];

        var piwbeg = '';
        var eksyen = '@currentAction';

        @if (ViewBag.errorMsgRevisiKapasitas != null) {
            <text>
    piwbeg = '@ViewBag.errorMsgRevisiKapasitas';
    </text>
        }
    $(document).ready(function () {
        @if (ViewBag.errorMsgRevisiTgl != null)
            {
                <text>
        swal({
            title: "Error",
            type: 'error',
            text: '@ViewBag.errorMsgRevisiTgl',
            showCloseButton: true,
        })
        </text>
            }
    })
    </script>
    @if (ViewBag.kondisi == "inputdp")
    {
        <script src="~/Content/SalesOrderPickup/inputdp.js"></script>
    }
    @if (ViewBag.kondisi == "planning" || ViewBag.kondisi == "konfirmasi")
    {
        <script src="~/Content/OperationalOncall/TruckDetail.js"></script>
        <script src="~/Content/DataTruk/TruckDetail.js"></script>
        <script src="~/Content/Driver/InitialGridSo.js"></script>
        <script src="~/Content/SalesOrderPickup/Comment.js"></script>
        if (ViewBag.kondisi == "konfirmasi")
        {
            <script src="~/Content/OperationalOncall/KeteranganTambahan.js"></script>
        }
    }
    @if (ViewBag.kondisi == "revisiJenistruck")
    {
        <script src="~/Content/RevisiListOrder/revisiJenisTruk.js"></script>
    }
    @if (ViewBag.kondisi == "revisiRute")
    {
        <script src="~/Content/RevisiListOrder/revisiRute.js"></script>
    }
}