@{
    ViewBag.Title = "Monitoring Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = "Index";
}
<style>
    .form-group {
        margin: 10px;
    }

    .popover-content {
        width: 270px;
        word-break: break-all;
    }

    .available {
        background-color: #FFFFC0;
    }

    .onduty {
        background-color: #CADEF9;
    }

    .ready {
        background-color: #03bf2c;
    }
</style>

<link rel="stylesheet" href="~/Content/OpenLayer/ol.css" type="text/css">
<script src="~/Content/OpenLayer/ol.js" type="text/javascript"></script>

<div class="form-group">
    <div class="row">
        <div class="form-group">
            <div class="col-md-1">
                <div class="col-md-1">
                    <input type="checkbox" id="ckGeneral" name="ckGeneral" value="general">
                </div>
                <label class="control-label col-md-1">General</label>
            </div>
            <div class="col-md-7">
                <label class="control-label col-md-1">From :</label>
                <div class="col-md-2">
                    <input id="TanggalFrom" name="TanggalFrom" />
                </div>
                <label class="control-label col-md-1">To :</label>
                <div class="col-md-2">
                    <input id="TanggalTo" name="TanggalTo" />
                </div>
                <div class="col-md-1">
                    <button class="btn btn-sm green dropdown-toggle" id="btnHistory">
                        History
                    </button>
                </div>
                <div class="col-md-2">
                    <select id="StatusMonitoringDetail" name="StatusMonitoringDetail" class="form-control input-sm"></select>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-sm green dropdown-toggle" id="ReportMonitoringDetail">
                        Report GPS Error
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div id="map" style="height:400px"><div id="popup"></div></div>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption font-green-sharp">
            <span class="caption-subject"> Basic Info</span>
        </div>
        <div class="tools">
            <a href="" class="collapse"> </a>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label col-md-4"></label>
                    <div class="col-md-8">
                        <input class="form-control input-sm" id="ckGeneral" name="ckGeneral">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">Lokasi :</label>
                    <div class="col-md-8">
                        <input class="form-control input-sm" id="ckGeneral" name="ckGeneral">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">Speed :</label>
                    <div class="col-md-8">
                        <input class="form-control input-sm" id="ckGeneral" name="ckGeneral">
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label col-md-4">GPS :</label>
                    <div class="col-md-8">
                        <input class="form-control input-sm" id="ckGeneral" name="ckGeneral">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">Last Update :</label>
                    <div class="col-md-8">
                        <input class="form-control input-sm" id="ckGeneral" name="ckGeneral">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">Temp :</label>
                    <div class="col-md-8">
                        <input class="form-control input-sm" id="ckGeneral" name="ckGeneral">
                    </div>
                </div>
            </div>

            <div class="col-md-5">

                <div class="form-group">
                    <label class="control-label col-md-4">Driver 1 :</label>
                    <div class="col-md-8">
                        <input class="form-control input-sm" id="ckGeneral" name="ckGeneral">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">Driver 2 :</label>
                    <div class="col-md-8">
                        <input class="form-control input-sm" id="ckGeneral" name="ckGeneral">
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="form-group">
            <div id="gridSo"></div>
        </div>
    </div>
</div>

<div class="portlet light">
    <div class="form-horizontal">
        <div class="portlet-body">
            <ul class="nav nav-tabs" id="wtab">
                <li class="active">
                    <a href="#tab_AllHis" data-toggle="tab"> Analisa On-Time </a>
                </li>
                <li>
                    <a href="#tab_OntimeHis" data-toggle="tab"> Speed Alert </a>
                </li>
                <li>
                    <a href="#tab_OntempHis" data-toggle="tab"> Parking Alert </a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="tab_OnTime">
                <div class="form-group">
                    <div id="gridOnTime"></div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab_SpeedAlert">
                <div class="form-group">
                    <div id="gridSpeedAlert"></div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab_ParkingAlert">
                <div class="form-group">
                    <div id="gridParkingAlert"></div>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="form-group">
        <div id="gridAlert"></div>
    </div>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption font-green-sharp">
            <span class="caption-subject"> Grafik Suhu</span>
        </div>
        <div class="tools">
            <a href="" class="collapse"> </a>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="form-group">
            <div id="graphTemp"></div>
        </div>

        <div class="form-horizontal">
            <div class="portlet-body">
                <ul class="nav nav-tabs" id="wtab">
                    <li class="active">
                        <a href="#tab_AllHis" data-toggle="tab"> Analisa On-Temp </a>
                    </li>
                    <li>
                        <a href="#tab_OntimeHis" data-toggle="tab"> Temperature Alert </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="tab_OnTemp">
                    <div class="form-group">
                        <div id="gridOnTemp"></div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab_TempAlert">
                    <div class="form-group">
                        <div id="gridTempAlert"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script id="command-template-SO" type="text/x-kendo-template">
        <a class="k-button-icon k-grid-edit" href="\\#" title="Detail" onclick="editItem('#=VehicleNo#')"><span class="glyphicon glyphicon-eye-open"></span></a>
    </script>

    <script type="text/javascript">
        $("#TanggalFrom").kendoDatePicker({
            format: "dd/MM/yyyy",
            value: new Date(),
        });
        var TanggalFromDp = $("#TanggalFrom").data("kendoDatePicker");

        $("#TanggalTo").kendoDatePicker({
            format: "dd/MM/yyyy",
            value: new Date(),
        });
        var TanggalToDp = $("#TanggalTo").data("kendoDatePicker");

        var itemsStatusMonitoringDetail = [{ text: "On Duty", value: "duty" },
        { text: "Ready", value: "ready" },
        { text: "Available", value: "available" },
        ];

        $("#StatusMonitoringDetail").kendoComboBox({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: itemsStatusMonitoringDetail,
            change: function (e) {
                localStorage['StatusMonitoringDetailViewCalender'] = this.value();
            },
        });

        //#region hitung derajat
        function radians(n) {
            return n * (Math.PI / 180);
        }
        function degrees(n) {
            return n * (180 / Math.PI);
        }

        function getBearing(startLat, startLong, endLat, endLong) {
            startLat = radians(startLat);
            startLong = radians(startLong);
            endLat = radians(endLat);
            endLong = radians(endLong);

            var dLong = endLong - startLong;

            var dPhi = Math.log(Math.tan(endLat / 2.0 + Math.PI / 4.0) / Math.tan(startLat / 2.0 + Math.PI / 4.0));
            if (Math.abs(dLong) > Math.PI) {
                if (dLong > 0.0)
                    dLong = -(2.0 * Math.PI - dLong);
                else
                    dLong = (2.0 * Math.PI + dLong);
            }

            return (degrees(Math.atan2(dLong, dPhi)) + 360.0) % 360.0;
        }
        //#endregion hitung derajat

        //#region OpenLayers

        function createStyle(src, img, startLat, startLong, endLat, endLong, colour, vehicleno) {
            return new ol.style.Style({
                image: new ol.style.Icon(({
                    src: src,
                    img: img,
                    imgSize: img ? [img.width, img.height] : undefined,
                    //anchorOrigin: "bottom-left",  // v KML je počítáno od levého spodního rohu
                    anchor: [0.5, 0.96],
                    //anchorXUnits: "fraction",
                    //anchorYUnits: "fraction",
                    scale: 0.4,
                    opacity: 0.75,
                    rotation: getBearing(startLat, startLong, endLat, endLong),
                    rotateWithView: "true"
                })),
                text: new ol.style.Text({
                    text: vehicleno,
                    fill: new ol.style.Fill({ color: 'black' }),
                    stroke: new ol.style.Stroke({ color: colour, width: 5 }),
                    offsetX: 50,
                    offsetY: 1,
                })
            });
        }

        //#region map

        var iconFeature = [];

        function addMarker(VehicleNo, Kecepatan, Lat, Long, Alamat, LatFisrt, LongFisrt, StatusOrder, CreatedDate, Status, Suhu) {

            var Lat = parseFloat(Lat);
            var Long = parseFloat(Long);
            var Engine = '';
            var AcOnOff = '';

            var centerGis = ol.proj.transform([Long, Lat], 'EPSG:4326', 'EPSG:3857');

            if (Kecepatan > 0) {
                Engine = 'On';
                AcOnOff = 'On';
            }
            else {
                Engine = 'Off';
                AcOnOff = 'Off';
            }

            //#region keterangan popup
            var iconFeatureGis = new ol.Feature({
                geometry: new ol.geom.Point(centerGis),
                name: '<p><b>' + VehicleNo + '</b></p><p><code>Lokasi :' + Alamat + '</code></p><p><code>DateTime :' + CreatedDate + '</code></p><p><code>Kecepatan :' + Kecepatan + '</code></p><p><code>Engine :' + Engine + '</code></p><p><code>Temp :' + Suhu + '</code></p><p><code>AC :' + AcOnOff + '</code></p>'
            });
            //#region keterangan popup

            if (StatusOrder == 'Available') {
                iconFeatureGis.set('style', createStyle('/Content/img/map/on.png', undefined, LatFisrt, LongFisrt, Lat, Long, '#FFFFC0', VehicleNo));
            }
            else if (StatusOrder == 'Ready') {
                iconFeatureGis.set('style', createStyle('/Content/img/map/ready.png', undefined, LatFisrt, LongFisrt, Lat, Long, '#03bf2c', VehicleNo));
            }
            else {
                iconFeatureGis.set('style', createStyle('/Content/img/map/off.png', undefined, LatFisrt, LongFisrt, Lat, Long, '#CADEF9', VehicleNo));
            }

            iconFeature.push(iconFeatureGis);
        }

        //#endregion map


        // Now add markers
        @*@foreach (var item in ViewBag.GPSRealtimeAll) {
            @:addMarker('@item.VehicleNo', '@item.Kecepatan', @item.Lat, @item.Long, '@item.Alamat', @item.LatFisrt, @item.LongFirst, '@item.StatusOrder', '@item.CreatedDate', '@item.Status', '@item.Suhu');
        }*@
        addMarker('@ViewBag.MonitoringPosition.VehicleNo', '0', @ViewBag.MonitoringPosition.LatNew, @ViewBag.MonitoringPosition.LongNew, '@ViewBag.MonitoringPosition.Alamat', -6.338990, 106.979158, 'On Duty', '19/04/2017 15.03.12', 'OK', '-');

        var center = ol.proj.transform([123.5166958, -4.4871395], 'EPSG:4326', 'EPSG:3857');

        //#region id map
        var layerMap = new ol.layer.Tile({
            source: new ol.source.OSM()
        });
        layerMap.setVisible(true);

        //var map = new ol.Map({
        //    layers: [
        //      new ol.layer.Tile({
        //          source: new ol.source.OSM()
        //      }),
        //    ],
        //    target: document.getElementById('map'),
        //    view: new ol.View({
        //        center: center,
        //        zoom: 5
        //    })
        //});
        var map = new ol.Map({
            layers: [layerMap],
            target: document.getElementById('map'),
            view: new ol.View({
                center: center,
                zoom: 5
            })
        });

        
        // marker
        var vectorSource = new ol.source.Vector({
            features: iconFeature //add an array of features
        });
        var vectorLayer = new ol.layer.Vector({
            style: function (feature) {
                return feature.get('style');
            },
            source: vectorSource,
        });
        map.addLayer(vectorLayer);

        function stopinterval(){
            window.clearInterval(timerMarker);
            return false;
        }

        function NewMarker() {
            stopinterval();

            timerMarker = window.setInterval(function () {
                //clean the layer from any existing markers
                vectorSource.clear();
                iconFeature = [];

                $.ajax({
                    url: '/Monitoring/getCoordinate',
                    type: "GET",
                    dataType: 'Json',
                    cache: false,
                    success: function (res) {
                        $.each(res, function (index, data) {
                            addMarker(data.VehicleNo, data.Kecepatan, data.Lat, data.Long, data.Alamat, data.LatFisrt, data.LongFirst, data.StatusOrder, data.CreatedDate, data.Status, data.Suhu);
                        });

                        vectorSource.addFeatures(iconFeature);
                    }, error: function () {
                        console.log("Connection Failed");
                    }
                });
            }, 4000); //1 menit 60000
        }

        function NewMarkerAll() {
            stopinterval();

            timerMarker = window.setInterval(function () {
                //clean the layer from any existing markers
                vectorSource.clear();
                iconFeature = [];

                $.ajax({
                    url: '/Monitoring/getCoordinateAll',
                    type: "GET",
                    dataType: 'Json',
                    cache: false,
                    success: function (res) {
                        $.each(res, function (index, data) {
                            addMarker(data.VehicleNo, data.Kecepatan, data.Lat, data.Long, data.Alamat, data.LatFisrt, data.LongFirst, data.StatusOrder, data.CreatedDate, data.Status, data.Suhu);
                        });

                        vectorSource.addFeatures(iconFeature);
                    }, error: function () {
                        console.log("Connection Failed");
                    }
                });
            }, 4000); //1 menit 60000
        }
        // marker

        var FullScreen = new ol.control.FullScreen();
        map.addControl(FullScreen);

        //popup
        var element = document.getElementById('popup');

        var popup = new ol.Overlay({
            element: element,
            positioning: 'bottom-center',
            stopEvent: false,
            offset: [80, 0]
        });

        map.addOverlay(popup);

        // display popup on click
        map.on('click', function (evt) {
            var feature = map.forEachFeatureAtPixel(evt.pixel,
                function (feature) {
                    return feature;
                });

            var coordinate = evt.coordinate;

            if (feature) {
                $(element).popover('destroy');
                var coordinates = feature.getGeometry().getCoordinates();
                popup.setPosition(coordinates);
                map.getView().setCenter(coordinate);
                $(element).popover({
                    'placement': 'bottom-center',
                    'animation': false,
                    'html': true,
                    'content': feature.get('name')
                });
                $(element).popover('show');
            } else {
                $(element).popover('destroy');
            }
        });

        // change mouse cursor when over marker
        map.on('pointermove', function (e) {
            if (e.dragging) {
                $(element).popover('destroy');
                return;
            }
            var pixel = map.getEventPixel(e.originalEvent);
            var hit = map.hasFeatureAtPixel(pixel);
            map.getTarget().style.cursor = hit ? 'pointer' : '';
        });
        //popup

        //#endregion id map

        //#endregion OpenLayers


        //# Region Grid

        gridIndex = $("#gridSo").kendoGrid({
            filterable: kendoGridFilterable,
            sortable: true,
            reorderable: true,
            resizable: true,
            pageable: true,
            groupable: false,
            columns: [
                {
                    template: kendo.template($("#command-template-SO").html()),
                    width: 30
                },
                {
                    field: "VehicleNo",
                    title: "SO No",
                    width: 150,
                    template: '<a href="javascript:DetailModalItem(\'#=VehicleNo#\',\'#=StrJenisTruck#\');" >#=VehicleNo#</a>'
                },
                {
                    field: "StrJenisTruck",
                    title: "Customer",
                    width: 50
                },
                {
                    field: "Status",
                    title: "Jenis Produk",
                    width: 50
                },
                {
                    field: "Alamat",
                    title: "Dari",
                    width: 200
                },
                {
                    field: "zone",
                    title: "Tujuan",
                    width: 80
                },
                {
                    field: "CustomerNama",
                    title: "Tgl Tiba Muat",
                    width: 80
                },
                {
                    field: "dari",
                    title: "Tgl Berangkat",
                    width: 80
                },
                {
                    field: "tujuan",
                    title: "Tgl Tiba",
                    width: 80
                },
                {
                    field: "TanggalMuat",
                    title: "Tgl Bongkar",
                    template: "#= TanggalMuat != null ? kendo.toString(kendo.parseDate(TanggalMuat, 'yyyy-MM-dd'), 'dd/MM/yyyy') : ''#",
                    width: 80
                },
            ],
        }).data("kendoGrid");

        gridIndex = $("#gridAlert").kendoGrid({
            filterable: kendoGridFilterable,
            sortable: true,
            reorderable: true,
            resizable: true,
            pageable: true,
            groupable: false,
            columns: [
                {
                    template: kendo.template($("#command-template-SO").html()),
                    width: 30
                },
                {
                    field: "VehicleNo",
                    title: "Created Date Time",
                    width: 150,
                    template: '<a href="javascript:DetailModalItem(\'#=VehicleNo#\',\'#=StrJenisTruck#\');" >#=VehicleNo#</a>'
                },
                {
                    field: "StrJenisTruck",
                    title: "Proses",
                    width: 50
                },
                {
                    field: "Status",
                    title: "Status",
                    width: 50
                },
                {
                    field: "Alamat",
                    title: "Keterangan",
                    width: 200
                },
                {
                    field: "zone",
                    title: "Last Edit",
                    width: 80
                },
            ],
        }).data("kendoGrid");

        gridIndex = $("#gridOnTime").kendoGrid({
            filterable: kendoGridFilterable,
            sortable: true,
            reorderable: true,
            resizable: true,
            pageable: true,
            groupable: false,
            columns: [
                {
                    field: "VehicleNo",
                    title: "Target Waktu",
                    width: 150,
                    template: '<a href="javascript:DetailModalItem(\'#=VehicleNo#\',\'#=StrJenisTruck#\');" >#=VehicleNo#</a>'
                },
                {
                    field: "StrJenisTruck",
                    title: "Target Tiba",
                    width: 50
                },
                {
                    field: "Status",
                    title: "Estimasi Tiba",
                    width: 50
                },
                {
                    field: "Alamat",
                    title: "Delay",
                    width: 200
                },
                {
                    field: "zone",
                    title: "Moving",
                    width: 80
                },
                {
                    field: "CustomerNama",
                    title: "Stop",
                    width: 80
                },
                {
                    field: "dari",
                    title: "Max Stop",
                    width: 80
                },
                {
                    field: "tujuan",
                    title: "Max Stop Position",
                    width: 80
                },
                {
                    field: "tujuan",
                    title: "Stop Time",
                    width: 80
                },
                {
                    field: "TanggalMuat",
                    title: "Durasi",
                    template: "#= TanggalMuat != null ? kendo.toString(kendo.parseDate(TanggalMuat, 'yyyy-MM-dd'), 'dd/MM/yyyy') : ''#",
                    width: 80
                },
            ],
        }).data("kendoGrid");

        gridIndex = $("#gridSpeedAlert").kendoGrid({
            filterable: kendoGridFilterable,
            sortable: true,
            reorderable: true,
            resizable: true,
            pageable: true,
            groupable: false,
            columns: [
                {
                    field: "VehicleNo",
                    title: "Target Waktu",
                    width: 150,
                    template: '<a href="javascript:DetailModalItem(\'#=VehicleNo#\',\'#=StrJenisTruck#\');" >#=VehicleNo#</a>'
                },
                {
                    field: "StrJenisTruck",
                    title: "Target Tiba",
                    width: 50
                },
                {
                    field: "Status",
                    title: "Estimasi Tiba",
                    width: 50
                },
                {
                    field: "Alamat",
                    title: "Delay",
                    width: 200
                },
                {
                    field: "zone",
                    title: "Moving",
                    width: 80
                },
                {
                    field: "CustomerNama",
                    title: "Stop",
                    width: 80
                },
                {
                    field: "dari",
                    title: "Max Stop",
                    width: 80
                },
                {
                    field: "tujuan",
                    title: "Max Stop Position",
                    width: 80
                },
                {
                    field: "tujuan",
                    title: "Stop Time",
                    width: 80
                },
                {
                    field: "TanggalMuat",
                    title: "Durasi",
                    template: "#= TanggalMuat != null ? kendo.toString(kendo.parseDate(TanggalMuat, 'yyyy-MM-dd'), 'dd/MM/yyyy') : ''#",
                    width: 80
                },
            ],
        }).data("kendoGrid");

        gridIndex = $("#gridParkingAlert").kendoGrid({
            filterable: kendoGridFilterable,
            sortable: true,
            reorderable: true,
            resizable: true,
            pageable: true,
            groupable: false,
            columns: [
                {
                    field: "VehicleNo",
                    title: "Target Waktu",
                    width: 150,
                    template: '<a href="javascript:DetailModalItem(\'#=VehicleNo#\',\'#=StrJenisTruck#\');" >#=VehicleNo#</a>'
                },
                {
                    field: "StrJenisTruck",
                    title: "Target Tiba",
                    width: 50
                },
                {
                    field: "Status",
                    title: "Estimasi Tiba",
                    width: 50
                },
                {
                    field: "Alamat",
                    title: "Delay",
                    width: 200
                },
                {
                    field: "zone",
                    title: "Moving",
                    width: 80
                },
                {
                    field: "CustomerNama",
                    title: "Stop",
                    width: 80
                },
                {
                    field: "dari",
                    title: "Max Stop",
                    width: 80
                },
                {
                    field: "tujuan",
                    title: "Max Stop Position",
                    width: 80
                },
                {
                    field: "tujuan",
                    title: "Stop Time",
                    width: 80
                },
                {
                    field: "TanggalMuat",
                    title: "Durasi",
                    template: "#= TanggalMuat != null ? kendo.toString(kendo.parseDate(TanggalMuat, 'yyyy-MM-dd'), 'dd/MM/yyyy') : ''#",
                    width: 80
                },
            ],
        }).data("kendoGrid");

        gridIndex = $("#gridOnTemp").kendoGrid({
            filterable: kendoGridFilterable,
            sortable: true,
            reorderable: true,
            resizable: true,
            pageable: true,
            groupable: false,
            columns: [
                {
                    template: kendo.template($("#command-template-SO").html()),
                    width: 30
                },
                {
                    field: "VehicleNo",
                    title: "Created Date Time",
                    width: 150,
                    template: '<a href="javascript:DetailModalItem(\'#=VehicleNo#\',\'#=StrJenisTruck#\');" >#=VehicleNo#</a>'
                },
                {
                    field: "StrJenisTruck",
                    title: "Kondisi",
                    width: 50
                },
                {
                    field: "Status",
                    title: "Status",
                    width: 50
                },
                {
                    field: "Alamat",
                    title: "Keterangan",
                    width: 200
                },
                {
                    field: "zone",
                    title: "Last Edit",
                    width: 80
                },
            ],
        }).data("kendoGrid");

        gridIndex = $("#gridTempAlert").kendoGrid({
            filterable: kendoGridFilterable,
            sortable: true,
            reorderable: true,
            resizable: true,
            pageable: true,
            groupable: false,
            columns: [
                {
                    template: kendo.template($("#command-template-SO").html()),
                    width: 30
                },
                {
                    field: "VehicleNo",
                    title: "Created Date Time",
                    width: 150,
                    template: '<a href="javascript:DetailModalItem(\'#=VehicleNo#\',\'#=StrJenisTruck#\');" >#=VehicleNo#</a>'
                },
                {
                    field: "StrJenisTruck",
                    title: "Kondisi",
                    width: 50
                },
                {
                    field: "Status",
                    title: "Status",
                    width: 50
                },
                {
                    field: "Alamat",
                    title: "Keterangan",
                    width: 200
                },
                {
                    field: "zone",
                    title: "Last Edit",
                    width: 80
                },
            ],
        }).data("kendoGrid");

        //# End Region Grid

        function createChart() {
            $("#graphTemp").kendoChart({
                legend: {
                    position: "bottom"
                },
                chartArea: {
                    background: ""
                },
                seriesDefaults: {
                    type: "line",
                    style: "smooth"
                },
                series: [
                    {
                        //    name: "India",
                        data: [3.907, -2.943, 5.848, 7.284, -1.263, 2.801, 3.890, 5.238, -2.552, 3.855]
                    }
                ],
                valueAxis: {
                    labels: {
                        format: "{0}"
                    },
                    line: {
                        visible: false
                    },
                    axisCrossingValue: -10
                },
                categoryAxis: {
                    categories: [2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011],
                    majorGridLines: {
                        visible: false
                    },
                    labels: {
                        rotation: "auto"
                    }
                },
                tooltip: {
                    visible: true,
                    format: "{0}",
                    template: "#= series.name #: #= value #"
                }
            });
        }

        $(document).ready(createChart);
        $(document).bind("kendo:skinChange", createChart);
    </script>
}
