@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Data Truck";
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = "Index";
}
<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-dark sbold uppercase">@ViewBag.Title</span>
        </div>
        <div class="actions">
            <a class="btn btn-sm green dropdown-toggle"
               href="@Url.Action("Add","DataTruck")">
                <i class="fa fa-plus"></i>Add
            </a>
            <a class="btn btn-sm green dropdown-toggle" href="~/Content/Template/TemplateDataTruck.xlsx" target="_blank">
                <i class="fa fa-file-excel-o"></i>Download template
            </a>
            <a class="btn btn-sm green dropdown-toggle" data-toggle="modal" href="#ModalDataTruck">
                <i class="fa fa-download"></i>Import
            </a>
            <a class="btn btn-sm green dropdown-toggle" href="@Url.Action("ExportDataTruck")">
                <i class="fa fa-upload"></i>Export
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="portlet box blue ">
            <div class="portlet-title">
                <div class="caption">
                    Hide Column :
                </div>
                <div class="tools">
                    <a href="" class="expand"> </a>
                </div>
            </div>
            <div class="portlet-body form" style="display: none;">
                <form role="form">
                    <div class="form-body">
                        <div id="content-col" class="md-checkbox-inline" style="margin-left:10px"></div>
                    </div>
                </form>
            </div>
        </div>
        <div id="grid"></div>
    </div>
</div>
<!-- /.modal -->
<div class="modal fade bs-modal-sm" id="ModalDataTruck" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Import Master Data Truk</h4>
            </div>
            <div class="modal-body">
                <input name="filesDataTruck" id="filesDataTruck" type="file" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal" onclick="uploadDataTruck()">Import</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
@section scripts
{
    <script type="text/javascript">
        var kendoUploadButtonExim;

        function deleteItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            goToDeletePage('@Url.Action("Delete")' + "?id=" + data.Id, this.dataSource);
        }

        function editItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            window.location.href = "@Url.Action("Edit")" + "?id=" + data.Id;
        }

        function uploadDataTruck() {
            if (kendoUploadButtonExim)
                totalFile = 0;
            kendoUploadButtonExim.click();
        }

        function onSelectFile(e) {
            var flagExtension = 0;
            var allowedExtension = [".xlsx", ".xls"];
            $.each(e.files, function (index, value) {
                if ($.inArray((value.extension).toLowerCase(), allowedExtension) === -1) {
                    flagExtension = 1;
                }
            });
            if (flagExtension == 1) {
                alert("File yang diperbolehkan hanya berupa Excell");
                e.preventDefault();
            }

            setTimeout(function () {
                kendoUploadButtonExim = $(".k-upload-selected");
                kendoUploadButtonExim.hide();
            }, 1);
        }

        $(document).ready(function () {
            CreateUploaderExim($("#filesDataTruck"), "@Url.Action("UploadDataTruck")", $("#grid"));

            currController = '@currentController';
            currAction = '@currentAction';

            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: '@Url.Action("Binding")',
                        dataType: "json"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options != '') {
                            return kendo.stringify(options);
                        }
                        else if (operation == "read") {
                            if (options.filter) {
                                filter = options.filter.filters;
                                for (var i in filter) {
                                    if (filter[i].field == "strMerk") {
                                        filter[i].field = "LookupCodeMerk.Nama";
                                    }
                                    if (filter[i].field == "strJenisTruck") {
                                        filter[i].field = "JenisTrucks.StrJenisTruck";
                                    }
                                    if (filter[i].field == "strPool") {
                                        filter[i].field = "MasterPool.NamePool";
                                    }
                                    if (filter[i].field == "strUnit") {
                                        filter[i].field = "LookupCodeUnit.Nama";
                                    }
                                }
                            }

                            if (options.sort) {
                                sort = options.sort;
                                for (var i in sort) {
                                    if (sort[i].field == "strMerk") {
                                        sort[i].field = "LookupCodeMerk.Nama";
                                    }
                                    if (sort[i].field == "strJenisTruck") {
                                        sort[i].field = "JenisTrucks.StrJenisTruck";
                                    }
                                    if (sort[i].field == "strPool") {
                                        sort[i].field = "MasterPool.NamePool";
                                    }
                                    if (sort[i].field == "strUnit") {
                                        sort[i].field = "LookupCodeUnit.Nama";
                                    }
                                }
                            }
                            return options;
                        }
                    }
                },
                schema: {
                    total: "total",
                    data: "data",
                    model: {
                        fields: {
                            "Id": { type: "number" },
                            "VehicleNo": { type: "string" },
                            "NoTruck": { type: "string" },
                            "strMerk": { type: "string" },
                            "TahunBuat": { type: "number" },
                            "strJenisTruck": { type: "string" },
                            "strPool": { type: "string" },
                            "strUnit": { type: "string" },
                            "Keterangan": { type: "string" },
                            "Kondisi": { type: "string" },
                        }
                    }
                },
                pageSize: 10,
                pageable: true,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
                sortable: true,
                //sort: { field: "SubmittedDate", dir: "desc" }
            });

            gridIndex = $("#grid").kendoGrid({
                dataSource: ds,
                filterable: kendoGridFilterable,
                sortable: true,
                reorderable: true,
                resizable: true,
                pageable: true,
                groupable: true,
                //height: "615",
                columns: [
                    {
                        command: [
                            {
                                name: "edit",
                                text: "edit",
                                click: editItem,
                                imageClass: "glyphicon glyphicon-edit",
                                template: '<a class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=imageClass#"></span></a>'
                            },
                            {
                                name: "delete",
                                text: "delete",
                                click: deleteItem,
                                imageClass: "glyphicon glyphicon-remove",
                                template: '<a class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=iconClass# #=imageClass#"></span></a>'
                            }
                        ],
                        width: "70px"
                    },
                    {
                        field: "VehicleNo",
                        title: "Vehicle No",
                        width: "220px"
                    },
                    {
                        field: "NoTruck",
                        title: "No Truck",
                        width: "220px"
                    },
                    {
                        field: "strMerk",
                        title: "Merk",
                        width: "220px"
                    },
                    {
                        field: "TahunBuat",
                        title: "Tahun Buat",
                        width: "130px"
                    },
                    {
                        field: "strJenisTruck",
                        title: "Jenis Truck",
                        width: "130px"
                    },
                    {
                        field: "strPool",
                        title: "Alokasi Pool",
                        width: "150px"
                    },
                    {
                        field: "strUnit",
                        title: "Alokasi Unit",
                        width: "150px"
                    },
                    {
                        field: "Keterangan",
                        title: "Keterangan",
                        width: "220px"
                    },
                    {
                        field: "Kondisi",
                        title: "Kondisi",
                        width: "150px"
                    }
                ],
            }).data("kendoGrid");

            @foreach (tms_mka_v2.Context.UserReference item in (List<tms_mka_v2.Context.UserReference>)ViewBag.listKolom)
            {
                <text>
            listKolom.push('@item.Coloumn');
            </text>
            }

            GetColomnData(gridIndex);
        })
    </script>
}

