@using tms_mka_v2.Models;

@model tms_mka_v2.Models.RevisiTanggal
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = ViewBag.postData == null ? (string)ViewContext.RouteData.Values["action"] : ViewBag.postData;
    string backLink = Url.Action("Index","ListOrder");
    ViewBag.Title = "Revisi Tanggal";
}
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-dark sbold uppercase">@ViewBag.Title</span>
        </div>
    </div>
    <div class="portlet-body form">
        @using (@Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal form-label-left input_mask", @id = "formsubmit" }))
        {
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.IdSalesOrder)
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <span class="caption-subject"> Basic Info</span>
                    </div>
                    <div class="tools">
                        <a href="" class="collapse"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    @if (Model.ModelOncall != null)
                    {
                        @Html.Partial("SalesOrderOncall/_PartialFormReadOnly", Model.ModelOncall)
                    }
                    else if (Model.ModelPickup != null)
                    {
                        @Html.Partial("SalesOrderPickup/_PartialFormReadOnly", Model.ModelPickup)
                    }
                    else if (Model.ModelKonsolidasi != null)
                    {
                        @Html.Partial("SalesOrderProsesKonsolidasi/_PartialFormReadOnly", Model.ModelKonsolidasi)
                    }
                </div>
            </div>
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <span class="caption-subject"> Revisi Tanggal</span>
                    </div>
                    <div class="tools">
                        <a href="" class="collapse"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TanggalLama, new { @class = "control-label col-md-3" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.TanggalLama, new { @class = "form-control-datepickerdis", @readonly = true })
                                </div>
                                @Html.LabelFor(model => model.TanggalLama, new { @class = "control-label col-md-3" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.JamLama, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TanggalBaru, new { @class = "control-label col-md-3" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.TanggalBaru, new { @class = "form-control-datepickerdis" })
                                </div>
                                @Html.LabelFor(model => model.JamBaru, new { @class = "control-label col-md-3" })
                                <div class="col-md-3">
                                    <div class="input-group input-group-sm">
                                        @Html.TextBoxFor(model => model.JamBaru, new { @class = "form-control input-sm timepicker timepicker-24" })
                                        <span class="input-group-btn">
                                            <button class="btn btn-sm default" type="button">
                                                <i class="fa fa-clock-o"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.KeteranganRevisi, new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.TextAreaFor(model => model.KeteranganRevisi, new { @class = "form-control input-sm" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <a href="@backLink" class="btn btn-link">Cancel</a>
                </div>
            </div>
        }
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        //$(document).ready(function () {

        //})
        //$('#formsubmit').submit(function (e) {

        //})
    </script>
}
