@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "SolarInap";
}
@if (User.HasMenuAccess("DM") || User.HasMenuAccess("Marketing") || User.HasMenuAccess("Admin") || User.HasMenuAccess("Kasir"))
{
<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-dark sbold uppercase">@ViewBag.Title</span>
        </div>
        <div class="actions">
            <a class="btn btn-sm green dropdown-toggle" href="@Url.Action("Add", "SolarInap")">
                <i class="fa fa-plus"></i>Add
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="portlet box blue ">
            <div class="portlet-title">
                <div class="caption">
                    Hide Column :
                </div>
                <div class="tools">
                    <a href="" class="expand"> </a>
                </div>
            </div>
            <div class="portlet-body form" style="display: none;">
                <form role="form">
                    <div class="form-body">
                        <div id="content-col" class="md-checkbox-inline" style="margin-left:10px"></div>
                    </div>
                </form>
            </div>
        </div>
        <div id="grid"></div>
    </div>
</div>
@section scripts
{
    <script id="command-template" type="text/x-kendo-template">
        # if(StepKe == 4) { #
            <a class="k-button-icon k-grid-edit" href="\\#" title="Pengembalian Uang" onclick="pengembalianUang(#=Id#)"><span class="glyphicon glyphicon-backward"></span></a>
        # } else if(StepKe == 1) { #
            <a class="k-button-icon k-grid-edit" href="\\#" title="Konfirmasi ke Customer" onclick="editItem(#=Id#)"><span class="glyphicon glyphicon-refresh"></span></a>
        # } else if(StepKe == 2) { #
            <a class="k-button-icon k-grid-edit" href="\\#" title="Set Uang Inap" onclick="editItem(#=Id#)"><span class="glyphicon glyphicon-bookmark"></span></a>
        # } else if(Status == "Kasir Transfer") { #
            <a class="k-button-icon k-grid-edit" href="\\#" title="Kasir Transfer" onclick="kasirTransfer(#=Id#)"><img src="/Content/img/Hydrattz-Multipurpose-Alphabet-Letter-T-blue.ico" width='14px' height='14px'></a>
        # } else if(Status == "Kasir Kas") { #
            <a class="k-button-icon k-grid-edit" href="\\#" title="Kasir Cash" onclick="kasirCash(#=Id#)"><img src="/Content/img/Hydrattz-Multipurpose-Alphabet-Letter-C-blue.ico" width='14px' height='14px'></a>
        # } else if(Status == "Kasir") { #
            # if(Cash > 0) { #
                <a class="k-button-icon k-grid-edit" href="\\#" title="Kasir Cash" onclick="kasirCash(#=Id#)"><img src="/Content/img/Hydrattz-Multipurpose-Alphabet-Letter-C-blue.ico" width='14px' height='14px'></a>
            # } #
            <a class="k-button-icon k-grid-edit" href="\\#" title="Kasir Transfer" onclick="kasirTransfer(#=Id#)"><img src="/Content/img/Hydrattz-Multipurpose-Alphabet-Letter-T-blue.ico" width='14px' height='14px'></a>
        # } #
        # if(StepKe == 0) { #
            <a class="k-button-icon k-grid-edit" href="\\#" title="Lihat" onclick="deleteItem(#=Id#)"><span class="glyphicon glyphicon-remove"></span></a>
        # } #
        # if(StepKe != 4) { #
            <a class="k-button-icon k-grid-edit" href="\\#" title="Batal Inap" onclick="batalInap(#=Id#)"><span class="glyphicon glyphicon-remove"></span></a>
        # } #
    </script>
    <script type="text/javascript">
        var kendoUploadButtonExim;

        function deleteItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            goToDeletePage('@Url.Action("Delete")' + "?id=" + data.Id, this.dataSource);
        }

        function editItem(id) {
            window.location.href = "@Url.Action("Edit")" + "?id=" + id;
        }

        function pengembalianUang(id){
            window.location.href = "@Url.Action("pengembalianUang")" + "?id=" + id;
        }

        function batalInap(id) {
            window.location.href = "@Url.Action("batalInap")" + "?id=" + id;
        }

        function kasirCash(id) {
            window.location.href = "@Url.Action("kasirCash")" + "?id=" + id;
        }

        function kasirTransfer(id) {
            window.location.href = "@Url.Action("kasirTransfer")" + "?id=" + id;
        }

        $(document).ready(function () {
            var user_types = [];
            @if (User.HasMenuAccess("Kasir")){
                <text>
                    user_types.push("Kasir")
                </text>
            }
            @if (User.HasMenuAccess("Admin")){
                <text>
                    user_types.push("Admin")
                </text>
            }
            @if (User.HasMenuAccess("Marketing")){
                <text>
                    user_types.push("Marketing")
                </text>
            }
            @if (User.HasMenuAccess("DM")){
                <text>
                    user_types.push("DM")
                </text>
            }
            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: '@Url.Action("Binding")' + "?user_types=" + user_types.join(','),
                        dataType: "json"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options != '') {
                            return kendo.stringify(options);
                        }
                        else if (operation == "read") {
                            if (options.filter) {
                                filter = options.filter.filters;
                                for (var i in filter) {
                                    if (filter[i].field == "Status") {
                                        filter[i].field = "LookupCodeBank.Nama";
                                    }
                                    if (filter[i].field == "VehicleNo") {
                                        filter[i].field = "DataTruck.VehicleNo";
                                    }
                                    if (filter[i].field == "KodeDriver") {
                                        filter[i].field = "Driver.KodeDriver";
                                    }
                                    if (filter[i].field == "NamaDriver") {
                                        filter[i].field = "Driver.NamaDriver";
                                    }
                                    if (filter[i].field == "Panggilan") {
                                        filter[i].field = "Driver.NamaPangilan";
                                    }
                                    if (filter[i].field == "NoSO") {
                                        filter[i].field = "SalesOrderOncall.SONumber";
                                    }
                                }
                            }

                            if (options.sort) {
                                sort = options.sort;
                                for (var i in sort) {
                                    if (filter[i].field == "VehicleNo") {
                                        filter[i].field = "DataTruk.VehicleNo";
                                    }
                                    if (sort[i].field == "NamaBank") {
                                        sort[i].field = "LookupCodeBank.Nama";
                                    }
                                    if (sort[i].field == "KodeDriver") {
                                        sort[i].field = "Driver.KodeDriver";
                                    }
                                    if (sort[i].field == "NamaDriver") {
                                        sort[i].field = "Driver.NamaDriver";
                                    }
                                    if (sort[i].field == "Panggilan") {
                                        sort[i].field = "Driver.NamaPangilan";
                                    }
                                }
                            }
                            return options;
                        }
                    }
                },
                schema: {
                    total: "total",
                    data: "data",
                    model: {
                        fields: {
                            "Id": { type: "number" },
                            "NoSO": { type: "string" },
                            "VehicleNo": { type: "string" },
                            "KodeDriver": { type: "string" },
                            "NamaDriver": { type: "string" },
                            "JenisTruk": { type: "string" },
                            "Customer": { type: "string" },
                            "TanggalBerangkat": { type: "date" },
                            "TanggalTiba": { type: "date" },
//                            "JamTiba": { type: "string" },
                            "TanggalDari": { type: "string" },
                            "TanggalHingga": { type: "string" },
                            "KeteranganOperation": { type: "string" },
                            "StatusTagihan": { type: "string" },
                            "Cash": { type: "string" },
                            "TglCash": { type: "string" },
                            "Transfer": { type: "string" },
                            "TglTransfer": { type: "string" }
                        }
                    }
                },
                pageSize: 10,
                pageable: true,
                sortable: true,
                //sort: { field: "SubmittedDate", dir: "desc" }
            });
            gridIndex = $("#grid").kendoGrid({
                dataSource: ds,
                filterable: kendoGridFilterable,
                sortable: true,
                reorderable: true,
                resizable: true,
                pageable: true,
                groupable: true,
                //height: "615",
                columns: [
                    {
                        template: kendo.template($("#command-template").html()),
                        width: 60
                    },
                    {
                        field: "Status",
                        title: "Status",
                        width: "125px"
                    },
                    {
                        field: "NoSO",
                        title: "No SO",
                        width: "125px"
                    },
                    {
                        field: "VehicleNo",
                        title: "Vehicle No",
                        width: "125px"
                    },
                    {
                        field: "KodeDriver",
                        title: "Id Driver",
                        width: "125px"
                    },
                    {
                        field: "NamaDriver",
                        title: "Driver",
                        width: "125px"
                    },
                    {
                        field: "JenisTruk",
                        title: "Jenis Truk",
                        width: "125px"
                    },
                    {
                        field: "Customer",
                        title: "Customer",
                        width: "125px"
                    },
                    {
                        field: "TanggalBerangkat",
                        title: "Tanggal Berangkat",
                        width: "100px",
                        template: "#= TanggalBerangkat != null ? kendo.toString(kendo.parseDate(TanggalBerangkat, 'yyyy-MM-dd'), 'dd/MM/yyyy') : ''#"
                    },
                    {
                        field: "TanggalTiba",
                        title: "Tanggal Tiba",
                        width: "100px",
                        template: "#= TanggalTiba != null ? kendo.toString(kendo.parseDate(TanggalTiba, 'yyyy-MM-dd'), 'dd/MM/yyyy') : ''#"
                    },
                    {
                        field: "JamTiba",
                        title: "Jam Tiba",
                        width: "100px",
                        template: "#= JamTiba != null ? kendo.toString(new Date(1, 1, 1, JamTiba.Hours, JamTiba.Minutes), 'hh : mm') : ''#",
                    },
                    {
                        field: "TanggalDari",
                        title: "Tanggal Inap",
                        width: "125px"
                    },
                    {
                        field: "KeteranganOperation",
                        title: "Keterangan",
                        width: "125px"
                    },
                    {
                        field: "StatusTagihan",
                        title: "Status Tagihan",
                        width: "125px"
                    },
                    {
                        field: "Cash",
                        title: "Cash",
                        width: "125px"
                    },
                    {
                        field: "TglCash",
                        title: "Tanggal Cash",
                        width: "125px"
                    },
                    {
                        field: "Transfer",
                        title: "Transfer",
                        width: "125px"
                    },
                    {
                        field: "TglTransfer",
                        title: "Tanggal Transfer",
                        width: "125px"
                    }
                ],
            }).data("kendoGrid");

            GetColomnData(gridIndex);
        })
    </script>
}
}
else{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <h1>Maaf, anda tidak memiliki hak akses yang cukup untuk mengakses halaman ini</h1>
}