@using tms_mka_v2.Models;
@model tms_mka_v2.Models.SalesOrderOncall

<div id="PartialSo" class="row">
    <input type='hidden' value='@Model.TanggalMuat.Value.ToString("MM/dd/yyyy")' id='tglmuatbuatuang'>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3"> NO SO</label>
            <label class="control-label col-md-9">: @Model.SONumber</label>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3"> Tanggal Order</label>
            <label class="control-label col-md-9">: @Model.TanggalOrder.Value.ToShortDateString()  @Model.JamOrder.ToString()</label>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3"> Kode Customer</label>
            <label class="control-label col-md-9">: @Model.KodeCustomer</label>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3"> Kode Nama</label>
            <label class="control-label col-md-9">: @Model.KodeNama</label>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3"> Nama Customer</label>
            <label class="control-label col-md-9">: @Model.NamaCustomer</label>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3"> Prioritas</label>
            <label class="control-label col-md-9">: @Model.StrPrioritas</label>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3"> Status Kredit</label>
            <label class="control-label col-md-9">: @Model.StatusKredit</label>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3"> Jenis Truk</label>
            @if (Model.StrJenisTruck == Model.JenisTruckItem){
                <label class="control-label col-md-9">: @Model.StrJenisTruck</label>
            }
            else{
                <label class="control-label col-md-9">: @Model.StrJenisTruck ( Real : @Model.JenisTruckItem )</label>
            }

            <input type="hidden" value="@Model.StrJenisTruck" id="StrJenisTruck"/>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3"> Jenis Barang</label>
            <label class="control-label col-md-9">: @Model.StrProduct</label>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3"> Target Suhu</label>
            <label class="control-label col-md-9">: @Model.Suhu &deg;</label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3"> Tanggal Muat</label>
            <label class="control-label col-md-9">: @Model.TanggalMuat.Value.ToShortDateString()  @Model.JamMuat.ToString()</label>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3"> Rute</label>
            <label class="control-label col-md-9">: @Model.Rute</label>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3"> Multidrop</label>
            <label class="control-label col-md-9">: @Model.StrMultidrop</label>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3"> Penanganan Khusus</label>
            <label class="control-label col-md-9">: @Model.PenanganKhusus</label>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3"> Keterangan</label>
            <label class="control-label col-md-9">: @Model.Keterangan</label>
        </div>
        <br />
        @if (ViewBag.DriverName != null)
        {
            <div class="form-group">
                <label class="control-label col-md-3"> ID Driver</label>
                <label class="control-label col-md-9">: @ViewBag.KodeDriver</label>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3"> ID Driver Lama</label>
                <label class="control-label col-md-9">: @ViewBag.KodeDriverOld</label>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3"> Nama</label>
                <label class="control-label col-md-9">: @ViewBag.DriverName</label>
            </div>
        }
        else if (Model.Driver1Id.HasValue)
        {
            <div class="form-group">
                <label class="control-label col-md-3"> ID Driver</label>
                <label class="control-label col-md-9">: @Model.KodeDriver1</label>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3"> Nama</label>
                <label class="control-label col-md-9">: @Model.NamaDriver1</label>
            </div>
        }
        <div class="form-group">
            <label class="control-label col-md-3"> Vehicle No</label>
            <label class="control-label col-md-9">: @(ViewBag.VehicleNo == null ? Model.VehicleNo : ViewBag.VehicleNo)</label>
        </div>
        @if (ViewBag.KeteranganAdmin != null)
        {
            <div class="form-group">
                <label class="control-label col-md-3">Keterangan Admin</label>
                <div class="col-md-9">
                    <textarea class="form-control" style="height: 210px" disabled>@ViewBag.KeteranganAdmin</textarea>
                </div>
            </div>
        }
    </div>
</div>