@using tms_mka_v2.Models;
@model tms_mka_v2.Models.SalesOrderOncall
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption font-green-sharp">
            <span class="caption-subject">Revisi Tanggal</span>
        </div>
        <div class="tools">
            <a href="" class="collapse"> </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="form-group">
            <div class="col-md-4">
                <div class="row">
                    <label class="control-label col-md-5">Tanggal Muat Awal</label>
                    <div class="col-md-5">
                        <input id="TanggalMuatAwal" name="TanggalMuatAwal" value="@Model.TanggalMuat" class="form-control-datepicker" readonly="readonly" />
                    </div>
                </div><br />
                <div class="row">
                    @Html.LabelFor(model => model.TanggalMuatBaru, new { @class = "control-label col-md-5" })
                    <div class="col-md-5">
                        @Html.TextBoxFor(model => model.TanggalMuatBaru, new { @class = "form-control form-control-datepicker input-sm" })
                        @Html.ValidationMessageFor(model => model.TanggalMuatBaru)
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <label class="control-label col-md-4">Jam Muat Awal</label>
                    <div class="col-md-3">
                        <input id="JamMuatAwal" name="JamMuatAwal" value="@Model.JamMuat" class="form-control input-sm timepicker timepicker-24" readonly="readonly" />
                    </div>
                </div><br />
                <div class="row">
                    <label class="control-label col-md-4">Jam Muat Baru</label>
                    <div class="col-md-3">
                        <input id="JamMuatBaru" name="JamMuatBaru" class="form-control input-sm timepicker timepicker-24" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    @Html.LabelFor(model => model.KeteranganRevisi, new { @class = "control-label col-md-5" })
                    <div class="col-md-7">
                        @Html.TextAreaFor(model => model.KeteranganRevisi, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.KeteranganRevisi)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

