@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sales Order Kontrak";
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = "Index";
}
<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-dark sbold uppercase">@ViewBag.Title</span>
        </div>
        <div class="actions">
            <a class="btn btn-sm green dropdown-toggle"
               href="@Url.Action("Add","SalesOrderKontrak")">
                <i class="fa fa-plus"></i>Add
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="portlet box blue ">
            <div class="portlet-title">
                <div class="caption">
                    Hide Column :
                </div>
                <div class="tools">
                    <a href="" class="expand"> </a>
                </div>
            </div>
            <div class="portlet-body form" style="display: none;">
                <form role="form">
                    <div class="form-body">
                        <div id="content-col" class="md-checkbox-inline" style="margin-left:10px"></div>
                    </div>
                </form>
            </div>
        </div>
        <div id="grid"></div>
    </div>
</div>

@section scripts
{
    <script id="command-template" type="text/x-kendo-template">
        <a class="k-button-icon k-grid-edit" href="\\#" title="Edit" onclick="editItem(#=SalesOrderId#)"><span class="glyphicon glyphicon-edit"></span></a>
        <a class="k-button-icon k-grid-edit" href="\\#" title="Lihat" onclick="deleteItem(#=SalesOrderId#)"><span class="glyphicon glyphicon-remove"></span></a>
        # if(Status == "draft") { #
        <a class="k-button-icon k-grid-edit" href="\\#" title="Submit" onclick="submitItem(#=SalesOrderId#)"><span class="glyphicon glyphicon-check"></span></a>
        # } #
    </script>
<script id="so-template" type="text/x-kendo-template">
    # if(IsReturn) { #
    <label style="color:red">#=SONumber#</label>
    # } else { #
    <label>#=SONumber#</label>
    # } #
</script>
    <script type="text/javascript">
        function submitItem(id) {
            goToSubmitPage('@Url.Action("Submit")' + "?id=" + id, gridIndex.dataSource);
        }

        function deleteItem(id) {
            goToDeletePage('@Url.Action("Delete")' + "?id=" + id, gridIndex.dataSource);
        }

        function editItem(id) {
            window.location.href = "@Url.Action("Edit")" + "?id=" + id;
        }

        $(document).ready(function () {
            currController = '@currentController';
            currAction = '@currentAction';

            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: '@Url.Action("Binding")',
                        dataType: "json"
                    },
                },
                schema: {
                    total: "total",
                    data: "data",
                    id: "SalesOrderId",
                    model: {
                        fields: {
                            "SalesOrderId": { type: "number" },
                            "SONumber": { type: "string" },                            
                            "KodeCustomer": {type: "string"},
                            "KodeNama": {type: "string"},
                            "NamaCustomer": { type: "string" },
                            "TanggalMuat": { type: "date" },
                            //"JamMuat": {type: "date"},
                            "StrJenisTruck": { type: "string" },
                            "Rit": { type: "number" },
                            "Keterangan": { type: "string" },
                            "Status": { type: "string" },
                            "IsReturn": { type: "bool" },
                        }
                    }
                },
                pageSize: 10,
                pageable: true,
                //serverFiltering: true,
                //serverPaging: true,
                //serverSorting: true,
                sortable: true,
                sort: { field: "DateStatus", dir: "desc" },
                filter: { field: "Status", operator: "eq", value: "draft" }
            });

            gridIndex = $("#grid").kendoGrid({
                dataSource: ds,
                filterable: kendoGridFilterable,
                sortable: true,
                reorderable: true,
                resizable: true,
                pageable: true,
                groupable: true,
                columns: [
                    {
                        template: kendo.template($("#command-template").html()),
                        width: 90
                    },
                    {
                        field: "SONumber",
                        title: "No Kontrak",
                        width: 150,
                        template: kendo.template($("#so-template").html()),
                    },
                    {
                        field: "KodeCustomer",
                        title: "Kode Customer",
                        width: 180
                    },
                    {
                        field: "KodeNama",
                        title: "Kode Nama",
                        width: 180
                    },
                    {
                        field: "NamaCustomer",
                        title: "Customer",
                        width: 200
                    },
                    {
                        field: "TanggalMuat",
                        title: "Tanggal Muat",
                        template: "#= TanggalMuat != null ? kendo.toString(kendo.parseDate(TanggalMuat, 'yyyy-MM-dd'), 'dd/MM/yyyy') : ''#",
                        width: 160,
                        groupHeaderTemplate: "Tanggal Muat : #= value != null ? kendo.toString(kendo.parseDate(value, 'yyyy-MM-dd'), 'dd/MM/yyyy') : '' #"
                    },
                    {
                        field: "JamMuat",
                        title: "Jam Muat",
                        template: "#= JamMuat != null ? kendo.toString(new Date(1, 1, 1, JamMuat.Hours, JamMuat.Minutes), 'hh : mm') : ''#",
                        filterable: false,
                        width: 160
                    },
                    {
                        field: "StrJenisTruck",
                        title: "Jenis Truk",
                        width: 170
                    },
                    {
                        field: "Rit",
                        title: "Rit",
                        width: 100
                    },
                    {
                        field: "Keterangan",
                        title: "Keterangan",
                        width: 250
                    },
                ],
            }).data("kendoGrid");

            @foreach (tms_mka_v2.Context.UserReference item in (List<tms_mka_v2.Context.UserReference>)ViewBag.listKolom)
            {
                <text>
            listKolom.push('@item.Coloumn');
            </text>
            }

            GetColomnData(gridIndex);
        })
        setTimeout(function(){
            location = ''
        },180000)
    </script>
}