@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Planning Sales Order Kontrak";
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = "Index";
}
<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-dark sbold uppercase">@ViewBag.Title</span>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="portlet box blue ">
            <div class="portlet-title">
                <div class="caption">
                    Hide Column :
                </div>
                <div class="tools">
                    <a href="" class="expand"> </a>
                </div>
            </div>
            <div class="portlet-body form" style="display: none;">
                <form role="form">
                    <div class="form-body">
                        <div id="content-col" class="md-checkbox-inline" style="margin-left:10px"></div>
                    </div>
                </form>
            </div>
        </div>
        <div id="grid"></div>
    </div>
</div>

@section scripts
{
    <script id="command-template" type="text/x-kendo-template">
        # if(IsBatalTruk == true) { #
            <a class="k-button-icon k-grid-edit" href="\\#" title="Edit" onclick="editItemBatalTruk('#=SONumber#')"><span class="glyphicon glyphicon-edit"></span></a>
        # } else if(IsBatalTruk == false) { #
            <a class="k-button-icon k-grid-edit" href="\\#" title="Edit" onclick="editItem(#=SalesOrderId#)"><span class="glyphicon glyphicon-edit"></span></a>
        # } #
        # if(Status == "save" || Status == "draft planning") { #
        <a class="k-button-icon k-grid-edit" href="\\#" title="Submit" onclick="submitItem(#=SalesOrderId#)"><span class="glyphicon glyphicon-check"></span></a>
        <a class="k-button-icon k-grid-edit" href="\\#" title="Return" onclick="returnItem(#=SalesOrderId#)"><span class="glyphicon glyphicon-repeat"></span></a>
        # } #
    </script>

    <script type="text/javascript">
        function submitItem(id) {
            goToSubmitPage('@Url.Action("Submit")' + "?id=" + id, gridIndex.dataSource);
        }

        function editItem(id) {
            window.location.href = "@Url.Action("Edit")" + "?id=" + id;
        }

        function editItemBatalTruk(id, order_number) {
            window.location.href = "@Url.Action("EditBatalTruk")" + "?id=" + id + "&order_number=" + id;
        }

        function returnItem(id) {
            goToReturnPage('@Url.Action("Return")' + "?id=" + id, gridIndex.dataSource);
        }

        $(document).ready(function () {
            currController = '@currentController';
            currAction = '@currentAction';

            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: '@Url.Action("Binding")',
                        dataType: "json"
                    },
                },
                schema: {
                    total: "total",
                    data: "data",
                    model: {
                        fields: {
                            "SalesOrderId": { type: "number" },
                            "SONumber": { type: "string" },                            
                            "KodeCustomer": {type: "string"},
                            "NamaCustomer": { type: "string" },
                            "PeriodStr": { type: "date" },
                            "PeriodEnd": { type: "date" },
                            "StrProduct": {type: "string"},
                            "Suhu": {type: "number"},
                            "StrJenisTruck": { type: "string" },
                            "Rit": { type: "number" },
                            "Keterangan": { type: "string" },
                            "Status": { type: "string" },
                        }
                    }
                },
                pageSize: 10,
                pageable: true,
                sortable: true,
                sort: { field: "DateStatus", dir: "desc" },
            });

            gridIndex = $("#grid").kendoGrid({
                dataSource: ds,
                filterable: kendoGridFilterable,
                sortable: true,
                reorderable: true,
                resizable: true,
                pageable: true,
                groupable: true,
                columns: [
                    {
                        template: kendo.template($("#command-template").html()),
                        width: 90
                    },
                    {
                        field: "SONumber",
                        title: "No Kontrak",
                        width: "150px"
                    },
                    {
                        field: "KodeCustomer",
                        title: "Kode Customer",
                        width: "140px"
                    },
                    {
                        field: "KodeNama",
                        title: "Kode Nama",
                        width: "140px"
                    },
                    {
                        field: "PeriodStr",
                        title: "Periode start",
                        template: "#= PeriodStr != null ? kendo.toString(kendo.parseDate(PeriodStr, 'yyyy-MM-dd'), 'MM/dd/yyyy') : ''#",
                        width: "160px",
                        groupHeaderTemplate: "Periode start : #= value != null ? kendo.toString(kendo.parseDate(value, 'yyyy-MM-dd'), 'MM/dd/yyyy') : '' #"
                    },
                    {
                        field: "PeriodEnd",
                        title: "Periode end",
                        template: "#= PeriodEnd != null ? kendo.toString(kendo.parseDate(PeriodEnd, 'yyyy-MM-dd'), 'MM/dd/yyyy') : ''#",
                        width: "160px",
                        groupHeaderTemplate: "Periode end : #= value != null ? kendo.toString(kendo.parseDate(value, 'yyyy-MM-dd'), 'MM/dd/yyyy') : '' #"
                    },
                    {
                        field: "JamMuat",
                        title: "Jam Muat",
                        template: "#= JamMuat != null ? kendo.toString(new Date(1, 1, 1, JamMuat.Hours, JamMuat.Minutes), 'hh : mm') : ''#",
                        
                        width: "140px"
                    },
                    {
                        field: "NamaCustomer",
                        title: "Customer",
                        width: "160px"
                    },
                    {
                        field: "StrProduct",
                        title: "Jenis Barang",
                        width: "160px"
                    },
                    {
                        field: "Suhu",
                        title: "Suhu",
                        width: "130px"
                    },
                    {
                        field: "StrJenaisTruck",
                        title: "Jenis Truk",
                        width: "140px"
                    },
                    {
                        field: "Rit",
                        title: "Rit",
                        width: "100px"
                    },
                    {
                        field: "Keterangan",
                        title: "Keterangan",
                        width: "250px"
                    },
                ],
            }).data("kendoGrid");

            @foreach (tms_mka_v2.Context.UserReference item in (List<tms_mka_v2.Context.UserReference>)ViewBag.listKolom)
            {
                <text>
            listKolom.push('@item.Coloumn');
            </text>
            }

            GetColomnData(gridIndex);
            setTimeout(function(){
                location = ''
            },180000)
        })
    </script>
}