@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "FAktor Borongan";
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = "Index";
}
<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-dark sbold uppercase">@ViewBag.Title</span>
        </div>
        <div class="actions">
            <a class="btn btn-sm green dropdown-toggle"
               href="@Url.Action("Add","FaktorBorongan")">
                <i class="fa fa-plus"></i>Add
            </a>
            <a class="btn btn-sm green dropdown-toggle" href="~/Content/Template/TemplateFaktorBorongan.xlsx" target="_blank">
                <i class="fa fa-file-excel-o"></i>Download template
            </a>
            <a class="btn btn-sm green dropdown-toggle" data-toggle="modal" href="#ModalFaktorBorongan">
                <i class="fa fa-download"></i>Import
            </a>
            <a class="btn btn-sm green" href="@Url.Action("ExportFaktorBorongan")">
                <i class="fa fa-upload"></i>Export
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="portlet box blue ">
            <div class="portlet-title">
                <div class="caption">
                    Hide Column :
                </div>
                <div class="tools">
                    <a href="" class="expand"> </a>
                </div>
            </div>
            <div class="portlet-body form" style="display: none;">
                <form role="form">
                    <div class="form-body">
                        <div id="content-col" class="md-checkbox-inline" style="margin-left:10px"></div>
                    </div>
                </form>
            </div>
        </div>
        <div id="grid"></div>
    </div>
</div>
<!-- /.modal -->
<div class="modal fade bs-modal-sm" id="ModalFaktorBorongan" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Import Data Faktor Borongan</h4>
            </div>
            <div class="modal-body">
                <input name="filesFaktorBorongan" id="filesFaktorBorongan" type="file" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal" onclick="uploadFaktorBorongan()">Import</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
@section scripts
{
    <script type="text/javascript">
        function deleteItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            goToDeletePage('@Url.Action("Delete")' + "?id=" + data.Id, this.dataSource);
        }

        function editItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            window.location.href = "@Url.Action("Edit")" + "?id=" + data.Id;
        }

        function uploadFaktorBorongan() {
            if (kendoUploadButtonExim)
                totalFile = 0;

            kendoUploadButtonExim.click();
        }

        function onSelectFile(e) {
            var flagExtension = 0;
            var allowedExtension = [".xlsx", ".xls"];
            $.each(e.files, function (index, value) {
                if ($.inArray((value.extension).toLowerCase(), allowedExtension) === -1) {
                    flagExtension = 1;
                }
            });
            if (flagExtension == 1) {
                alert("File yang diperbolehkan hanya berupa Excell");
                e.preventDefault();
            }

            setTimeout(function () {
                kendoUploadButtonExim = $(".k-upload-selected");
                kendoUploadButtonExim.hide();
            }, 1);
        }

        $(document).ready(function () {
            CreateUploaderExim($("#filesFaktorBorongan"), "@Url.Action("UploadFaktorBorongan")", $("#grid"));

            currController = '@currentController';
            currAction = '@currentAction';

            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: '@Url.Action("Binding")',
                        dataType: "json"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options != '') {
                            return kendo.stringify(options);
                        }
                        else if (operation == "read") {
                            if (options.filter) {
                                filter = options.filter.filters;
                                for (var i in filter) {
                                    if (filter[i].field == "StrMasterPool") {
                                        filter[i].field = "MasterPool.NamePool";
                                    }
                                    if (filter[i].field == "StrJenisTruck") {
                                        filter[i].field = "JenisTrucks.StrJenisTruck";
                                    }
                                }
                            }

                            if (options.sort) {
                                sort = options.sort;
                                for (var i in sort) {
                                    if (sort[i].field == "StrMasterPool") {
                                        sort[i].field = "MasterPool.NamePool";
                                    }
                                    if (sort[i].field == "StrJenisTruck") {
                                        sort[i].field = "JenisTrucks.StrJenisTruck";
                                    }
                                }
                            }
                            return options;
                        }
                    }
                },
                schema: {
                    total: "total",
                    data: "data",
                    model: {
                        fields: {
                            "Id": { type: "number" },
                            "StrMasterPool": { type: "string" },
                            "StrJenisTruck": { type: "string" },
                            "RasioDlmKota": { type: "number" },
                            "RasioDlmKota2": { type: "number" },
                            "RasioJawaBali": { type: "number" },
                            "RasioSumatra": { type: "number" },
                            "RasioKosong": { type: "number" },
                            "UangMakanJawaBali": { type: "number" },
                            "UangMakanSumatra": { type: "number" },
                            "FaktorPengaliGaji": { type: "number" },
                            "FaktorPengaliTips": { type: "number" },
                            "PotonganDriver1": { type: "number" },
                            "PotonganDriver2": { type: "number" },
                            "BiayaKapalBali": { type: "number" },
                            "BiayaKapalBaliNTB": { type: "number" },
                            "BiayaKapalSumatra": { type: "number" },
                            "BiayaKapalKalimantan": { type: "number" },
                            "BiayaKapalSulawesi": { type: "number" },
                        }
                    }
                },
                pageSize: 10,
                pageable: true,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
                sortable: true,
                //sort: { field: "SubmittedDate", dir: "desc" }
            });

            gridIndex = $("#grid").kendoGrid({
                dataSource: ds,
                filterable: kendoGridFilterable,
                sortable: true,
                reorderable: true,
                resizable: true,
                pageable: true,
                groupable: true,
                //height: "615",
                columns: [
                    {
                        command: [
                            {
                                name: "edit",
                                text: "edit",
                                click: editItem,
                                imageClass: "glyphicon glyphicon-edit",
                                template: '<a class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=imageClass#"></span></a>'
                            },
                            {
                                name: "delete",
                                text: "delete",
                                click: deleteItem,
                                imageClass: "glyphicon glyphicon-remove",
                                template: '<a class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=iconClass# #=imageClass#"></span></a>'
                            }
                        ],
                        width: "60px"
                    },
                    {
                        field: "StrMasterPool",
                        title: "Alokasi Pool",
                        width: "160px",
                    },
                    {
                        field: "StrJenisTruck",
                        title: "Jenis Truck",
                        width: "160px",
                    },
                    {
                        field: "RasioDlmKota",
                        title: "Rasio Dalam Kota 1",
                        width: "180px",
                    },
                    {
                        field: "RasioDlmKota2",
                        title: "Rasio Dalam Kota 2",
                        width: "180px",
                    },
                    {
                        field: "RasioJawaBali",
                        title: "Rasio Jawa Bali",
                        width: "180px",
                    },
                    {
                        field: "RasioSumatra",
                        title: "Rasio Sumatra",
                        width: "180px",
                    },
                    {
                        field: "RasioKosong",
                        title: "Rasio Kosong",
                        width: "180px",
                    },
                    {
                        field: "UangMakanJawaBali",
                        template: 'Rp #: kendo.format("{0:n}", UangMakanJawaBali)#',
                        title: "Uang Makan Jawa Bali",
                        width: "220px",
                    },
                    {
                        field: "UangMakanSumatra",
                        template: 'Rp #: kendo.format("{0:n}", UangMakanSumatra)#',
                        title: "Uang Makan Sumatra",
                        width: "220px",
                    },
                    {
                        field: "FaktorPengaliGaji",
                        template: 'Rp #: kendo.format("{0:n}", FaktorPengaliGaji)#',
                        title: "Faktor Pengali Gaji",
                        width: "220px",
                    },
                    {
                        field: "FaktorPengaliTips",
                        template: 'Rp #: kendo.format("{0:n}", FaktorPengaliTips)#',
                        title: "Faktor Pengali Tips Parkir",
                        width: "250px",
                    },
                    {
                        field: "PotonganDriver1",
                        template: 'Rp #: kendo.format("{0:n}", PotonganDriver1)#',
                        title: "Potongan Driver 1",
                        width: "220px",
                    },
                    {
                        field: "PotonganDriver2",
                        template: 'Rp #: kendo.format("{0:n}", PotonganDriver2)#',
                        title: "Potongan Driver 2",
                        width: "220px",
                    },
                    {
                        field: "BiayaKapalBali",
                        template: 'Rp #: kendo.format("{0:n}", BiayaKapalBali)#',
                        title: "Biaya Kapal Bali",
                        width: "220px",
                    },
                    {
                        field: "BiayaKapalBaliNTB",
                        template: 'Rp #: kendo.format("{0:n}", BiayaKapalBaliNTB)#',
                        title: "Biaya Kapal Bali-NTB",
                        width: "230px",
                    },
                    {
                        field: "BiayaKapalSumatra",
                        template: 'Rp #: kendo.format("{0:n}", BiayaKapalSumatra)#',
                        title: "Biaya Kapal Sumatra",
                        width: "230px",
                    },
                    {
                        field: "BiayaKapalKalimantan",
                        template: 'Rp #: kendo.format("{0:n}", BiayaKapalKalimantan)#',
                        title: "Biaya Kapal Kalimantan",
                        width: "230px",
                    },
                    {
                        field: "BiayaKapalSulawesi",
                        template: 'Rp #: kendo.format("{0:n}", BiayaKapalSulawesi)#',
                        title: "Biaya Kapal Sulawesi",
                        width: "230px",
                    },
                ],
            }).data("kendoGrid");

            @foreach (tms_mka_v2.Context.UserReference item in (List<tms_mka_v2.Context.UserReference>)ViewBag.listKolom)
            {
                <text>
            listKolom.push('@item.Coloumn');
            </text>
            }

            GetColomnData(gridIndex);
        })
    </script>
}