@using tms_mka_v2.Models

<link rel="stylesheet" href="~/Content/metronic/bootstrap.min.css" />
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <label class="col-xs-4 col-md-4"></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <label class="col-xs-4 col-md-4"></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <label class="col-xs-4 col-md-4"></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-4 col-md-4"></label>
                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-8 col-md-8"></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-4 col-md-4"></label>
                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-8 col-md-8"></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-4 col-md-4"></label>
                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-8 col-md-8"></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-4 col-md-4"></label>
                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-8 col-md-8"></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-4 col-md-4"></label>
                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-8 col-md-8"></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-4 col-md-4"></label>
                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-8 col-md-8"></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-4 col-md-4"></label>
                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-8 col-md-8"></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-4 col-md-4"></label>
                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-8 col-md-8"></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-4 col-md-4"></label>
                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-8 col-md-8"></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-4 col-md-4"></label>
                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-8 col-md-8"></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-4 col-md-4"></label>
                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-8 col-md-8"></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-4 col-md-4"></label>
                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-8 col-md-8"></label>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-6">
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"> @ViewBag.cust</label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"> @ViewBag.dari</label>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <div class="row">
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-4 col-md-4"></label>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="row">
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-8 col-md-8"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <div class="row">
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-4 col-md-4"></label>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="row">
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-8 col-md-8"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <div class="row">
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-4 col-md-4"></label>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="row">
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-8 col-md-8"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <div class="row">
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-4 col-md-4"></label>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="row">
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-8 col-md-8"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <div class="row">
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-4 col-md-4"></label>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="row">
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-8 col-md-8"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <div class="row">
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-4 col-md-4"></label>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="row">
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-8 col-md-8"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <div class="row">
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-4 col-md-4"></label>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="row">
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-8 col-md-8"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-xs-6 col-md-6"></label>
                <label class="col-xs-6 col-md-6">1 &emsp;&emsp; @ViewBag.type</label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"> @ViewBag.barang </label>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <div class="row">
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-4 col-md-4"></label>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="row">
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-8 col-md-8"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <div class="row">
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-4 col-md-4"></label>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="row">
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-8 col-md-8"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <div class="row">
                        <label class="col-xs-4 col-md-4"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"> @ViewBag.tgl</label>
            </div>
            <div class="row">
                <label class="col-xs-12 col-md-12"></label>
            </div>
            <div class="row">
                <label class="col-xs-12 col-md-12"></label>
            </div>
            <div class="row">
                <label class="col-xs-12 col-md-12"></label>
            </div>
            <div class="row">
                <label class="col-xs-12 col-md-12"></label>
            </div>
            <div class="row">
                <label class="col-xs-12 col-md-12"></label>
            </div>
            <div class="row">
                <label class="col-xs-12 col-md-12"></label>
            </div>
            <div class="row">
                <label class="col-xs-12 col-md-12"></label>
            </div>
            <div class="row">
                <label class="col-xs-12 col-md-12"></label>
            </div>
            <div class="row">
                <label class="col-xs-12 col-md-12"></label>
            </div>
            <div class="row">
                <label class="col-xs-12 col-md-12"></label>
            </div>
            <div class="row">
                <label class="col-xs-12 col-md-12"></label>
            </div>
            <div class="row">
                <label class="col-xs-12 col-md-12"></label>
            </div>
            <div class="row">
                <label class="col-xs-12 col-md-12"></label>
            </div>
            <div class="row">
                <label class="col-xs-12 col-md-12"></label>
            </div>
            <div class="row">
                <label class="col-xs-12 col-md-12"></label>
            </div>
            <div class="row">
                <label class="col-xs-12 col-md-12"></label>
            </div>
            <div class="row">
                <label class="col-xs-12 col-md-12"></label>
            </div>
            <div class="row">
                <label class="col-xs-12 col-md-12"></label>
            </div>
            <div class="row">
                <label class="col-xs-12 col-md-12"></label>
            </div>
            <div class="row">
                <label class="col-xs-12 col-md-12"></label>
            </div>
            <div class="row">
                <label class="col-xs-12 col-md-12"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"> @ViewBag.tujuan</label>
            </div>
        </div>
        <div class="col-xs-6 col-md-6">
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"> @ViewBag.namadr</label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-5 col-md-4"></label>
                <label class="col-xs-3 col-md-4"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-5 col-md-4"></label>
                <label class="col-xs-3 col-md-4"></label>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <div class="row">
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-4 col-md-4"></label>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="row">
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-8 col-md-8"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <div class="row">
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-4 col-md-4"></label>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="row">
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-8 col-md-8"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <div class="row">
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-4 col-md-4"></label>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="row">
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-8 col-md-8"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <div class="row">
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-4 col-md-4"></label>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="row">
                        <label class="col-xs-4 col-md-4"></label>
                        <label class="col-xs-8 col-md-8"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"> @ViewBag.nopol</label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-5 col-md-5"></label>
                <label class="col-xs-3 col-md-3"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-5 col-md-5"></label>
                <label class="col-xs-3 col-md-3"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-1 col-md-8"></label>
                <label class="col-xs-1 col-md-8"></label>
                <label class="col-xs-6 col-md-4"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-1 col-md-8"></label>
            </div>
        </div>
        <div class="row">
            <label class="col-xs-12 col-md-12"></label>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-4 col-md-4"></label>
                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <label class="col-xs-4 col-md-4"></label>
                    <label class="col-xs-8 col-md-8"></label>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-6">
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"></label>
            </div>
            <div class="row">
                <label class="col-xs-4 col-md-4"></label>
                <label class="col-xs-8 col-md-8"></label>
            </div>
        </div>
    </div>
</body>
<style>
    font-family: arial !important;
    font-size: 14px !important;
</style>