@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Jenis Tol";
    string currentController = "Jenis Tol";
    string currentAction = "Index";
}
<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-dark sbold uppercase">@ViewBag.Title</span>
        </div>
        <div class="actions">
            <a class="btn btn-sm green dropdown-toggle" href="@Url.Action("Add", "JnsTol")">
                <i class="fa fa-plus"></i>Add
            </a>
            <a class="btn btn-sm green dropdown-toggle" href="~/Content/Template/TemplateTol.xlsx" target="_blank">
                <i class="fa fa-file-excel-o"></i>Download template
            </a>
            <a class="btn btn-sm green dropdown-toggle" data-toggle="modal" href="#ModalTol">
                <i class="fa fa-download"></i>Import
            </a>
            <a class="btn btn-sm green dropdown-toggle" href="@Url.Action("Export")">
                <i class="fa fa-upload"></i>Export
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="portlet box blue ">
            <div class="portlet-title">
                <div class="caption">
                    Hide Column :
                </div>
                <div class="tools">
                    <a href="" class="expand"> </a>
                </div>
            </div>
            <div class="portlet-body form" style="display: none;">
                <form role="form">
                    <div class="form-body">
                        <div id="content-col" class="md-checkbox-inline" style="margin-left:10px"></div>
                    </div>
                </form>
            </div>
        </div>
        <div id="grid"></div>
    </div>
</div>

<!-- /.modal -->
<div class="modal fade bs-modal-sm" id="ModalTol" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Import Data Jenis Tol</h4>
            </div>
            <div class="modal-body">
                <input name="filesTol" id="filesTol" type="file" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal" onclick="uploadTol()">Import</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
@section scripts
{
    <script type="text/javascript">
        var kendoUploadButtonExim;

        function deleteItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            goToDeletePage('@Url.Action("Delete")' + "?id=" + data.Id, this.dataSource);
        }

        function editItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            window.location.href = "@Url.Action("Edit")" + "?id=" + data.Id;
        }

        function uploadTol() {
            if (kendoUploadButtonExim)
                totalFile = 0;
            kendoUploadButtonExim.click();
        }

        function onSelectFile(e) {
            var flagExtension = 0;
            var allowedExtension = [".xlsx", ".xls"];
            $.each(e.files, function (index, value) {
                if ($.inArray((value.extension).toLowerCase(), allowedExtension) === -1) {
                    flagExtension = 1;
                }
            });
            if (flagExtension == 1) {
                alert("File yang diperbolehkan hanya berupa Excell");
                e.preventDefault();
            }

            setTimeout(function () {
                kendoUploadButtonExim = $(".k-upload-selected");
                kendoUploadButtonExim.hide();
            }, 1);
        }

        $(document).ready(function () {
            CreateUploaderExim($("#filesTol"), "@Url.Action("UploadTol")", $("#grid"));

            currController = '@currentController';
            currAction = '@currentAction';

            var ds = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@Url.Action("Binding")',
                    dataType: "json"
                },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options != '') {
                        return kendo.stringify(options);
                    }
                    else if (operation == "read") {
                        if (options.filter) {
                            filter = options.filter.filters;
                            for (var i in filter) {
                                if (filter[i].field == "gol1") {
                                    filter[i].field = "GolonganTol1";
                                }
                                if (filter[i].field == "gol2") {
                                    filter[i].field = "GolonganTol2";
                                }
                                if (filter[i].field == "gol3") {
                                    filter[i].field = "GolonganTol3";
                                }
                                if (filter[i].field == "gol4") {
                                    filter[i].field = "GolonganTol4";
                                }
                            }
                        }

                        if (options.sort) {
                            sort = options.sort;
                            for (var i in sort) {
                                if (sort[i].field == "gol1") {
                                    sort[i].field = "GolonganTol1";
                                }
                                if (sort[i].field == "gol2") {
                                    sort[i].field = "GolonganTol2";
                                }
                                if (sort[i].field == "gol3") {
                                    sort[i].field = "GolonganTol3";
                                }
                                if (sort[i].field == "gol4") {
                                    sort[i].field = "GolonganTol4";
                                }
                            }
                        }
                        return options;
                    }
                }
            },
            schema: {
                total: "total",
                data: "data",
                model: {
                    fields: {
                        "Id": { type: "number" },
                        "NamaTol": { type: "string" },
                        "gol1": { type: "number" },
                        "gol2": { type: "number" },
                        "gol3": { type: "number" },
                        "gol4": { type: "number" },
                        "Keterangan": { type: "string" },
                    }
                }
            },
            pageSize: 10,
            pageable: true,
            serverFiltering: true,
            serverPaging: true,
            serverSorting: true,
            sortable: true,
            //sort: { field: "SubmittedDate", dir: "desc" }
        });

        gridIndex = $("#grid").kendoGrid({
            dataSource: ds,
            filterable: kendoGridFilterable,
            sortable: true,
            reorderable: true,
            resizable: true,
            pageable: true,
            groupable: true,
            //height: "615",
            columns: [
                {
                    command: [
                        {
                            name: "edit",
                            text: "edit",
                            click: editItem,
                            imageClass: "glyphicon glyphicon-edit",
                            template: '<a class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=imageClass#"></span></a>'
                        },
                        {
                            name: "delete",
                            text: "delete",
                            click: deleteItem,
                            imageClass: "glyphicon glyphicon-remove",
                            template: '<a class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=iconClass# #=imageClass#"></span></a>'
                        }
                    ],
                    width: "60px"
                },
                {
                    field: "NamaTol",
                    title: "Nama Tol",
                    width: "180px"
                },
                {
                    field: "gol1",
                    title: "Golongan 1",
                    template: 'Rp #: kendo.format("{0:n}", gol1)#',
                    width: "200px"
                },
                {
                    field: "gol2",
                    title: "Golongan 2",
                    template: 'Rp #: kendo.format("{0:n}", gol2)#',
                    width: "200px"
                },
                {
                    field: "gol3",
                    title: "Golongan 3",
                    template: 'Rp #: kendo.format("{0:n}", gol3)#',
                    width: "200px"
                },
                {
                    field: "gol4",
                    title: "Golongan 4",
                    template: 'Rp #: kendo.format("{0:n}", gol4)#',
                    width: "200px"
				},

                {
                    field: "Keterangan",
                    title: "Keterangan",
                    width: "250px"
                },
                ],
            }).data("kendoGrid");

            @foreach (tms_mka_v2.Context.UserReference item in (List<tms_mka_v2.Context.UserReference>)ViewBag.listKolom)
            {
                <text>
            listKolom.push('@item.Coloumn');
            </text>
            }

            GetColomnData(gridIndex);
        })
    </script>
}


