@using tms_mka_v2.Models;

@model tms_mka_v2.Models.JenisTruck
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    string backLink = Url.Action("Index");
    if (currentAction == "Add")
    {
        ViewBag.Title = "Tambah Jenis Truk";
    }
    else
    {
        ViewBag.Title = ViewBag.name + " | Edit";
    }
}
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-dark sbold uppercase">@ViewBag.Title</span>
        </div>
    </div>
    <div class="portlet-body form">
        @using (@Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                @Html.LabelFor(model => model.StrJenisTruck, new { @class = "control-label col-md-2 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-9 col-xs-12">
                    @Html.TextBoxFor(model => model.StrJenisTruck, new { @class = "form-control input-sm focus" })
                    @Html.ValidationMessageFor(model => model.StrJenisTruck)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.GolTol, new { @class = "control-label col-md-2 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-9 col-xs-12">
                    @Html.TextBoxFor(model => model.GolTol, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.GolTol)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Alias, new { @class = "control-label col-md-2 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-9 col-xs-12">
                    @Html.TextBoxFor(model => model.Alias, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.Alias)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Biaya, new { @class = "control-label col-md-2 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-9 col-xs-12">
                    @Html.TextBoxFor(model => model.Biaya, new { @class = "form-control-numeric-idr" })
                    @Html.ValidationMessageFor(model => model.Biaya)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.AcInterval, new { @class = "control-label col-md-2 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-9 col-xs-12">
                    @Html.TextBoxFor(model => model.AcInterval, new { @class = "form-control-numeric-minute" })
                    @Html.ValidationMessageFor(model => model.AcInterval)
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-2">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <a href="@backLink" class="btn btn-link">Cancel</a>
                </div>
            </div>
        }
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#GolTol").kendoComboBox({
                dataTextField: "text",
                dataValueField: "value",
                dataSource: [
                    { text: "1", value: "1" },
                    { text: "2", value: "2" },
                    { text: "3", value: "3" },
                    { text: "4", value: "4" }
                ],
                filter: "contains",
                suggest: true
            });
        })
    </script>
}