@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Settlement Batal";
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = "Index";
}
<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-dark sbold uppercase">@ViewBag.Title</span>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="portlet box blue ">
            <div class="portlet-title">
                <div class="caption">
                    Hide Column :
                </div>
                <div class="tools">
                    <a href="" class="expand"> </a>
                </div>
            </div>
            <div class="portlet-body form" style="display: none;">
                <form role="form">
                    <div class="form-body">
                        <div id="content-col" class="md-checkbox-inline" style="margin-left:10px"></div>
                    </div>
                </form>
            </div>
        </div>
        <div id="grid"></div>
    </div>
</div>

@section scripts
{
    <script id="command-template" type="text/x-kendo-template">
        # if(IsProses == true) { #
        <a class="k-button-icon k-grid-edit" href="\\#" title="View" onclick="viewItem(#=Id#)"><span class="glyphicon glyphicon-eye-open"></span></a>
        # } else { #
        <a class="k-button-icon k-grid-edit" href="\\#" title="Edit" onclick="editItem(#=Id#)"><span class="glyphicon glyphicon-edit"></span></a>
        # } #
    </script>
    <script type="text/javascript">
        function editItem(id) {
            window.location.href = "@Url.Action("Edit")" + "?id=" + id;
        }

        function viewItem(id) {
            window.location.href = "@Url.Action("View")" + "?id=" + id;
        }

        $(document).ready(function () {
            currController = '@currentController';
            currAction = '@currentAction';

            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: '@Url.Action("Binding")',
                        dataType: "json"
                    },
                },
                schema: {
                    total: "total",
                    data: "data",
                    model: {
                        fields: {
                            "Id": { type: "number" },
                            "JenisOrder": { type: "string" },
                            "NoDn": { type: "string" },
                            "NoSo": { type: "string" },
                            "Customer": { type: "string" },
                            "VehicleNo": { type: "string" },
                            "Driver": { type: "string" },
                            "JenisBatal": { type: "string" },
                            "Tanggal": { type: "date" },
                            "IsProses": { type: "bool" },
                        }
                    }
                },
                pageSize: 10,
                pageable: true,
                //serverFiltering: true,
                //serverPaging: true,
                //serverSorting: true,
                sortable: true,
            });

            gridIndex = $("#grid").kendoGrid({
                dataSource: ds,
                filterable: kendoGridFilterable,
                sortable: true,
                reorderable: true,
                resizable: true,
                pageable: true,
                groupable: true,
                //height: "615",
                columns: [
                    {
                        template: kendo.template($("#command-template").html()),
                        width: "70px"
                    },
                    {
                        field: "JenisOrder",
                        title: "Jenis Order",
                    },
                    {
                        field: "NoDn",
                        title: "No.DN",
                    },
                    {
                        field: "NoSo",
                        title: "No.SO",
                    },
                    {
                        field: "Customer",
                        title: "Customer",
                    },
                    {
                        field: "VehicleNo",
                        title: "No.Polisi",
                    },
                    {
                        field: "Driver",
                        title: "Driver",
                    },
                    {
                        field: "Tanggal",
                        title: "Tanggal Batal",
                        template: "#= Tanggal != null ? kendo.toString(kendo.parseDate(Tanggal, 'yyyy-MM-dd'), 'dd/MM/yyyy') : ''#",
                    },
                    {
                        field: "JenisBatal",
                        title: "Jenis Batal",
                    },
                ],
            }).data("kendoGrid");

            @foreach (tms_mka_v2.Context.UserReference item in (List<tms_mka_v2.Context.UserReference>)ViewBag.listKolom)
            {
                <text>
            listKolom.push('@item.Coloumn');
            </text>
            }

            GetColomnData(gridIndex);
        })
    </script>
}